<div class="container">
    <div class="loginLogo">
		<a ng-href="#/login">
			<img src="/html/img/logo.png" />
		</a>
	</div>

    <h1 class="loginPageSlogan">{{ session.localization.loginPageSlogan }}</h1>

	<div class="alert alert-success text-center" ng-show="codeGenerationSucceed == true">
		{{ session.localization.codeGenerationSuccess }}
	</div>

	<div class="alert alert-danger text-center" ng-show="codeGenerationSucceed == false">
		{{ session.localization.codeGenerationFailure }}
	</div>


	<div class="alert alert-success text-center" ng-show="changingPasswordSucceed == true">
		{{ session.localization.changePasswordSuccess }}
	</div>

	<div class="alert alert-danger text-center" ng-show="changingPasswordSucceed == false">
		{{ session.localization.changePasswordFailure }}
	</div>


    <div class="loginBox" ng-show="!passwordChangeCode">
        <div class="col-sm-12">
            <form class="form-horizontal validated-form" novalidate role="form" name="inserEmailForm" ng-submit="generatePasswordChangeCode()">
                <div class="form-group">
                    <div class="col-sm-12">
						<label class="label-control" for="inputPassword">{{ session.localization.changePasswordCodeGenerationInfo }}</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="{{ session.localization.email }}" ng-model="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12"> 
                        <button type="submit" ng-disabled="disableSubmitButtons || inserEmailForm.$invalid || inserEmailForm.$pristine" class="btn btn-default btn-primary col-sm-12">{{ session.localization.changePasswordButton }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
	<div class="loginBox" ng-show="passwordChangeCode">
        <div class="col-sm-12">
            <form class="form-horizontal validated-form" novalidate role="form" name="changePasswordForm"  ng-submit="changePassword()">
				<div class="form-group">
                    <div class="col-sm-12">
						<label class="label-control" for="inputPassword">{{ session.localization.changePasswordInfo }}</label>
                        <input type="password" class="form-control" name="password" placeholder="{{ session.localization.password }}" ng-model="password" required>
                    </div>
                </div>
				<div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" name="repeatedPassword" placeholder="{{ session.localization.passwordRepeated }}" ng-model="passwordRepeated" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" ng-disabled="disableSubmitButtons || changePasswordForm.$invalid || changePasswordForm.$pristine" class="btn btn-default btn-primary col-sm-12">{{ session.localization.changePasswordButton }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div>


<div ng-include src="'html/views/partials/bottomPanel.html'"></div>
